@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* custom properties */
:root {
  --gradient-bg: linear-gradient(148deg, #dcf3f7 35%, #eddef9 81%);
}

/* ////////// */
/* Home page */
/* //////// */
.homepage {
  background: var(--gradient-bg);
}

/* navbar */
nav {
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.icon {
  flex: 1;
}
.logo-image {
  width: 120px;
  margin-top: 10px;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 30px;
}
nav ul li {
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
nav ul li:hover {
  cursor: pointer;
  color: #48a0b5;
}

/* hiding the hamburger menu in bigger screens */
.hamburger-menu {
  display: none;
}

/* main page contents */
.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  margin: 40px 0 0 0;
}

.homepage-texts {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  padding: 40px 40px 30px 0;
}

/* main homepage heading */
.homepage-heading,
.homepage-heading span {
  font-size: 45px;
  font-weight: 500;
  font-family: "Rubik Wet Paint", system-ui;
}

.homepage-heading span {
  color: #48a0b5;
}

/* homepage paragraph */
.homepage-desc {
  margin: 15px 0;
  font-size: 15px;
  font-weight: 400;
  color: #383838;
}

/* homepage buttons */
.homepage-buttons {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.hp-button {
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid #eb71a4;
  background-color: white;
  color: #b10e52;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.hp-button:hover {
  cursor: pointer;
  background-color: #b10e52;
  color: white;
}

/* homepage dog image */
.main-page-image {
  margin-top: 40px;
}

.dog-image {
  margin: 0 0 -10px 0;
  max-width: 350px;
}

/* responsiveness */
@media (max-width: 1015px) {
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  /* hiding the list in small screens and making the hamburger visible */
  ul li {
    display: none;
  }
  .hamburger-menu {
    display: flex;
    font-size: 30px;
    transition: all 0.2s linear;
  }
  .hamburger-menu:hover {
    cursor: pointer;
    color: rgb(48, 48, 188);
  }

  .homepage-texts {
    max-width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-page-image {
    margin-top: 0;
  }
}

/* ///////////////// */
/* About Page Topbar*/
/* /////////////// */
.about-page-topbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-navigation {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  padding: 20px;
  min-width: 60%;
  margin: 40px 0 0 0;
  gap: 20px;
  background: var(--gradient-bg);
}

.about-nav-card {
  flex: 1;
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  border-radius: 10px;
  background-color: white;
  align-items: center;
  font-weight: 500;
  transition: all 0.2s linear;
}
.about-nav-card:hover {
  box-shadow: 2px 2px 6px #3f3f3f78;
  background-color: #dcf3f7;
  cursor: pointer;
}
.about-nav-card img {
  width: 30px;
}

/* //////////////////////// */
/* About page main content */
/* ////////////////////// */
.about-main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
  gap: 30px;
}

.about-image {
  max-width: 250px;
}

/* about main page texts div */
.about-texts {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.about-heading {
  font-size: 30px;
  letter-spacing: 1px;
  margin: 30px 0 15px 0;
  color: #0e0e0e;
}
.about.desc {
  color: #383838;
}

/* responsiveness for about page and about top bar*/
@media (max-width: 900px) {
  .about-navigation {
    display: flex;
    flex-direction: column;
  }
  .about-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  .about-texts {
    text-align: justify;
  }
  .about.desc {
    margin: 0 25px;
  }
}

/* /////////////////// */
/* Services section.. */
/* ///////////////// */
.service-section-head {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 0 0 150px;
}

.service-heading {
  font-size: 30px;
  color: #383838;
  margin: 30px 0 20px 0;
}

/* service section buttons */
.service-head-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 10px 0 40px 0;
}
.sh-button {
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid #eb71a4;
  background-color: white;
  color: #b10e52;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.sh-button:hover {
  cursor: pointer;
  background-color: #b10e52;
  color: white;
}

/* heading, paragraph and image below the OUR SERVICE heading and buttons */
.service-section-contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 30px;
}

.service-section-texts {
  max-width: 500px;
  padding: 30px;
  /* background-color: #eb71a4; */
}
.service-section-heading {
  font-size: 25px;
  font-weight: 500;
}
.service-section-desc {
  color: #383838;
  margin: 20px 0;
}

.know-more-service {
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid #eb71a4;
  background-color: white;
  color: #b10e52;
  font-weight: 500;
  margin: 20px 0;
  transition: all 0.3s ease-in-out;
}
.know-more-service:hover {
  cursor: pointer;
  background-color: #b10e52;
  color: white;
}

.service-sect-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  box-shadow: 1px 1px 3px #eb71a45c;
  border: 1px solid #eb71a4;
  border-radius: 15px;
}

.ss-image {
  max-width: 350px;
  overflow: visible;
}

/* service section responsiveness */
@media (max-width: 1000px) {
  .service-section-head {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .service-section-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .service-section-texts {
    text-align: center;
  }

  /* resizing the image container */
  .service-sect-image {
    width: 300px;
    height: 300px;
  }
  .ss-image {
    max-width: 400px;
  }
  .know-more-service {
    margin: 10px 0 0 0;
  }
  .service-head-buttons {
    gap: 10px;
  }
}

/* //////////// */
/* User review */
/* ////////// */
.user-review {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user-review-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px;
  min-width: 80%;
  border-radius: 25px;
  box-shadow: 2px 2px 19px #696969;
  margin: 60px 40px;
}

.review-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex: 2;
}

.review-person {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-radius: 15px;
  background-color: #effafc;
}
.review-person-image {
  max-width: 200px;
}

.experience h4 {
  color: #383838;
}

.experience p {
  font-size: 15px;
  margin: 10px 0;
}

.rating i {
  font-size: 13px;
}

.scroller {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: #fff1f1;
  transition: all 0.2s ease-in-out;
}
.scroller:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px #474747;
}

/* user review responsiveness */
@media (max-width: 900px) {
  .scroller {
    display: none;
  }

  .user-review-card,
  .review-content,
  .experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}


/* ////////// */
/* Contact Us */
/* ////////// */
.contact-us {
    background-color: #f0fdff;
    margin-bottom: 50px;
}
.contact-head {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-heading {
    font-size: 30px;
    font-weight: 500;
    color: #383838;
    margin: 40px 0 0 0;
}

.contact-desc {
    margin: 20px 0;
}

.contact-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
    padding-bottom: 50px;
}

.card-detail {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 15px 0;
    border-radius: 15px;
    border: 2px solid #ff3b8c;
    transition: all 0.2s ease-in-out;
}
.card-detail:hover {
    cursor: pointer;
    border: 2px solid #b10e52;
}
.card-detail img {
    width: 70px;
}

@media (max-width: 1200px) {
    .contact-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}