@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* custom properties */
:root {
  --gradient-bg: linear-gradient(148deg, #dcf3f7 35%, #eddef9 81%);
}

/* ////////// */
/* Home page */
/* //////// */
.homepage {
  background: var(--gradient-bg);
}

/* navbar */
nav {
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.icon {
  flex: 1;
}
.logo-image {
  width: 120px;
  margin-top: 10px;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 30px;
}
nav ul li {
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
nav ul li:hover {
  cursor: pointer;
  color: #48a0b5;
}

/* hiding the hamburger menu in bigger screens */
.hamburger-menu {
  display: none;
}

/* main page contents */
.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  margin: 40px 0 0 0;
}

.homepage-texts {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  padding: 40px 40px 30px 0;
}

/* main homepage heading */
.homepage-heading,
.homepage-heading span {
  font-size: 45px;
  font-weight: 500;
  font-family: "Rubik Wet Paint", system-ui;
}

.homepage-heading span {
  color: #48a0b5;
}

/* homepage paragraph */
.homepage-desc {
  margin: 15px 0;
  font-size: 15px;
  font-weight: 400;
  color: rgb(56, 56, 56);
}

/* homepage buttons */
.homepage-buttons {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.hp-button {
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid #eb71a4;
  background-color: white;
  color: #b10e52;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.hp-button:hover {
  cursor: pointer;
  background-color: #b10e52;
  color: white;
}

/* homepage dog image */
.main-page-image {
  margin-top: 40px;
}

.dog-image {
  margin: 0 0 -10px 0;
  max-width: 350px;
}

/* responsiveness */
@media (max-width: 1015px) {
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  /* hiding the list in small screens and making the hamburger visible */
  ul li {
    display: none;
  }
  .hamburger-menu {
    display: flex;
    font-size: 30px;
    transition: all 0.2s linear;
  }
  .hamburger-menu:hover {
    cursor: pointer;
    color: rgb(48, 48, 188);
  }

  .homepage-texts {
    max-width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-page-image {
    margin-top: 0;
    border: 1px solid;
  }
}

/* /////////// */
/* About Page */
/* ///////// */
.about-page {
  background-color: yellow;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-navigation {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  padding: 20px;
  min-width: 60%;
  margin: 40px 0 30px 0;
  gap: 20px;
  background: var(--gradient-bg);
}

.about-nav-card {
  flex: 1;
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  border-radius: 10px;
  background-color: white;
  align-items: center;
  font-weight: 500;
  transition: all 0.2s linear;
}
.about-nav-card:hover {
  box-shadow: 2px 2px 6px #3f3f3f78;
  background-color: #dcf3f7;
  cursor: pointer;
}
.about-nav-card img {
  width: 30px;
}